body {
    margin: 0;
    font-family: 'Montserrat';
    background-image: url("https://raw.githubusercontent.com/Tita-Navarro/GDL002-data-lovers/master/images/fondo_pokemon.jpg");
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    height: 200px;
}
.list, .searcher{
    align-items: flex-start;
    text-align: center;
    background-color: rgba(126, 121, 122, 0.349);
    margin: 1.5em;
}
.list {
    font-size: 28px;
    height: 100px;
    width: 150px; 
    border-color: whitesmoke;
    border-width: 10px;
    border-radius: 25%;
    color: whitesmoke;
    background-color: rgb(70,70,70);
}
.searcher {
    width: 175px;
    height: 50px;
}
.container {
    height: 750px;
    max-width: 100%;
    background-repeat: no-repeat;

}

.post {
    height: 300px;
    margin-bottom: 2em;
}
.table {
    display: inline-block;
    vertical-align: middle;
    
}